<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-segment  (ionChange)="toggleEntryType()" class="segment ion-margin" mode="ios" [(ngModel)]="entryType">
    <ion-segment-button value="expense">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    <ion-segment-button value="income">
      <ion-label>Income</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-item >
    <ion-label>Amount :- </ion-label>
    <ion-input [(ngModel)]="expense.amount" type="number"></ion-input>
  </ion-item>
  
  <ion-item *ngIf="showExpenseForm">
    <ion-label>Description :- </ion-label>
    <ion-input [(ngModel)]="expense.description" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="showExpenseForm">
    
    <ion-select [(ngModel)]="expense.expenseType" placeholder="Expense Type" interface="popover">
      <ion-select-option value="grocery">Grocery</ion-select-option>
      <ion-select-option value="entertainment">Entertainment</ion-select-option>
      <ion-select-option value="others">Others</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!showExpenseForm">
    
    <ion-select [(ngModel)]="expense.expenseType" placeholder="income type" interface="popover">
      <ion-select-option value="salary">Salary</ion-select-option>
      
      <ion-select-option value="incomeOthers">Others</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button class="ion-margin" (click)="addExpenseHandler()" expand="full">{{showExpenseForm?'Add Expense':'Add Income'}}</ion-button> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <ion-item>
  <ion-text class="ion-margin-horizontal">Sample General Lottery Rules
    • Participants must be 18 years of age or older to purchase a lottery ticket and claim a
    prize;
    • Tickets cost $2.00 each or 3 tickets for $5.00;
    • Tickets may be purchased by cash sale only;
    • Ticket sales will commence on and will cease on , 2018;
    • The draw will take place on , 2018 starting at am/pm;
    • The draw will be held at the Club Headquarters, located at 123 Any Street, Ramara,
    ON;
    • Participants must be present at the draw to be eligible to win a prize;
    • Draw winners will be notified by telephone;
    • The draw winners will be advertised in the annual Club newsletter, as well, advertised in
    the local newspaper;
    • Any prizes which are not claimed within one year after the draw date (as per AGCO
    Lottery Licence Policy Manual) shall be donated to a beneficiary approved by the
    licensing authority;
    • If prizes are drawn low to high, the ticket must be re-entered in the draw for all
    subsequent draws
    Sample Raffle Draw Details
    • Participants may purchase a lottery ticket for a chance to win one of 4 prizes worth a
    total value of $5000.00.
    • The prizes will be awarded according to the following schedule:
    ➢ 1st ticket drawn wins $250.00 cash
    ➢ 2nd ticket drawn wins $500.00 cash
    ➢ 3rd ticket drawn wins $1250.00 cash
    ➢ 4th ticket drawn wins the Grand Prize trip to Mexico worth $3000.00.
    • Before each ticket is drawn, the tickets within the drum will be spun five times. Winning
    tickets will be placed back in the drum for a chance to win the grand prize. 
    Sample 50/50 Rules of Play
    • Participants must be 18 years of age or older to purchase a lottery ticket and claim a
    prize;
    • Tickets cost $2.00 each or 3 tickets for $5.00;
    • Tickets may be purchased by cash sale only;
    • Participants must be present at the draw to be eligible to win a prize;
    • The draw winner will be announced over the PA system
    • If the holder of the winning ticket number is not present when the number is drawn, the
    licensee must draw another ticket.
    • Tickets sold to be placed in a barrel or box – mixed up three times before ticket drawn
    • The draw will take place on ______________, 2018 at ____________
    • The draw will be held at the skating carnival located at _____________
    • Participants may purchase a ticket for a chance to win. The ticket purchaser deposits
    ticket(s) in the raffle box. The tickets within the box will be mixed together and the first
    ticket drawn will be considered the winning ticket and announced. However, in the event
    a winner does not come forward to claim the prize, the ticket number will be announced
    again after waiting one minute it will be announced the third time should no one claim.
    Another ticket will then be drawn and the same process used until a winner has
    claimed.
    • Winner wins up to 50% of the total collected for the 50/50 draw to a maximum prize
    value of $300;
    Penny Draw Details
    For $2.00, participants purchase 10 tickets which are detachable from the stub portion
    (retained by the purchaser). Participants may enter as many tickets as they possess on any
    item (prize) they are interested in by depositing the tickets into a container assigned to that
    item (prize). The item (prize) is awarded to the person whose ticket is drawn, at random, from
    the container.
    The raffle is limited to a maximum prize board of $500 and individuals must be present to win.
    Elimination Draw Details
    Participants may purchase a lottery ticket for a chance to win one of six prizes worth a total
    value of $10000.00. The prizes will be awarded according to the following schedule:
    • 1st ticket drawn wins $100.00 cash
    • 5th last ticket drawn wins $250.00 cash
    • 4th last ticket drawn wins $750.00 cash 
    • 3rd last ticket drawn wins $1250.00 cash
    • 2nd last ticket drawn wins $2650.00 cash
    • Last ticket drawn wins $5000.00 cash
    Before the start of the draw, the drum containing the tickets will be spun ten times.
    </ion-text>
  </ion-item>
</ion-content>
